@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


div{
font-family: 'Raleway', sans-serif;

}
 
html, body, div {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  display: block;
}


#p5_loading {
  padding: 70px 0;
  text-align: center;
}
